<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.helloworld">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".main.ExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorld">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".third_class.ThirdClassActivity" />
        <activity android:name=".fourth_class.FourthClassActivity" />
        <activity android:name=".fifth_class.FifthClassActivity" />
        <activity android:name=".sixth_class.SixthClassActivity" />
        <activity android:name=".sixth_class.BlurActivity" />
        <activity android:name=".seventh_class.SeventhClassActivity" />
        <activity android:name=".eighth_class.EighthClassActivity" />
        <activity android:name=".ninth_class.NinthClassActivity" />
        <activity android:name=".tenth_class.TenthClassActivity" />
        <activity android:name=".eleventh_class.EleventhClassActivity" />
        <activity android:name=".eleventh_class.NewWordActivity" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />

    </application>

</manifest>